In [9]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [10]:
data=pd.read_csv('Q7.csv')
data

             Unnamed: 0  Points  Score  Weigh
0             Mazda RX4    3.90  2.620  16.46
1         Mazda RX4 Wag    3.90  2.875  17.02
2            Datsun 710    3.85  2.320  18.61
3        Hornet 4 Drive    3.08  3.215  19.44
4     Hornet Sportabout    3.15  3.440  17.02
5               Valiant    2.76  3.460  20.22
6            Duster 360    3.21  3.570  15.84
7             Merc 240D    3.69  3.190  20.00
8              Merc 230    3.92  3.150  22.90
9              Merc 280    3.92  3.440  18.30
10            Merc 280C    3.92  3.440  18.90
11           Merc 450SE    3.07  4.070  17.40
12           Merc 450SL    3.07  3.730  17.60
13          Merc 450SLC    3.07  3.780  18.00
14   Cadillac Fleetwood    2.93  5.250  17.98
15  Lincoln Continental    3.00  5.424  17.82
16    Chrysler Imperial    3.23  5.345  17.42
17             Fiat 128    4.08  2.200  19.47
18          Honda Civic    4.93  1.615  18.52
19       Toyota Corolla    4.22  1.835  19.90
20        Toyota Corona    3.70  2.465  20.01
21     Dodge Challenger    2.76  3.520  16.87
22          AMC Javelin    3.15  3.435  17.30
23           Camaro Z28    3.73  3.840  15.41
24     Pontiac Firebird    3.08  3.845  17.05
25            Fiat X1-9    4.08  1.935  18.90
26        Porsche 914-2    4.43  2.140  16.70
27         Lotus Europa    3.77  1.513  16.90
28       Ford Pantera L    4.22  3.170  14.50
29         Ferrari Dino    3.62  2.770  15.50
30        Maserati Bora    3.54  3.570  14.60
31           Volvo 142E    4.11  2.780  18.60

In [3]:
data.Points.mean()

3.5965625000000006

In [14]:
data['Points'].mode()[1]

3.92

In [15]:
data['Points'].median()

3.6950000000000003

In [19]:
std=data.Points.std()
std

0.5346787360709716

In [20]:
variance=std**2
variance

0.2858813508064517

In [21]:
data.min() 2.17

Unnamed: 0    AMC Javelin
Points               2.76
Score               1.513
Weigh                14.5
dtype: object

In [22]:
data.max()

Unnamed: 0    Volvo 142E
Points              4.93
Score              5.424
Weigh               22.9
dtype: object

In [42]:
data.Score.mean()

3.2172499999999995

In [43]:
data['Score'].median()

3.325

In [44]:
data.Score.mode()[0]

3.44

In [45]:
std1=data.Score.std()
std1

0.9784574429896967

In [46]:
variance=std1**2
variance

0.9573789677419356

In [47]:
data.Weigh.mean()

17.848750000000003

In [48]:
data['Weigh'].median()

17.71

In [52]:
data['Weigh'].mode()

0    17.02
1    18.90
Name: Weigh, dtype: float64

In [50]:
std3=data.Weigh.std()
std3

1.7869432360968431

In [51]:
variance=std3**2
variance

3.193166129032258

In [63]:
data1=pd.read_csv('Q9_a.csv')
data1.head()

   Index  speed  dist
0      1      4     2
1      2      4    10
2      3      7     4
3      4      7    22
4      5      8    16

In [64]:
data1.speed.skew()

-0.11750986144663393

In [65]:
data1.dist.skew()

0.8068949601674215

In [66]:
data1.speed.kurtosis()

-0.5089944204057617

In [67]:
data1.dist.kurtosis()

0.4050525816795765

In [68]:
data2=pd.read_csv('Q9_b.csv')
data2.head()

   Unnamed: 0          SP         WT
0           1  104.185353  28.762059
1           2  105.461264  30.466833
2           3  105.461264  30.193597
3           4  113.461264  30.632114
4           5  104.461264  29.889149

In [71]:
data2.SP.skew()

1.6114501961773586

In [72]:
data2.WT.skew()

-0.6147533255357768

In [73]:
data2.SP.kurtosis()

2.9773289437871835

In [74]:
data2.WT.kurtosis()

0.9502914910300326

In [79]:
car=pd.read_csv('Cars.csv')
car

     HP        MPG  VOL          SP         WT
0    49  53.700681   89  104.185353  28.762059
1    55  50.013401   92  105.461264  30.466833
2    55  50.013401   92  105.461264  30.193597
3    70  45.696322   92  113.461264  30.632114
4    53  50.504232   92  104.461264  29.889149
..  ...        ...  ...         ...        ...
76  322  36.900000   50  169.598513  16.132947
77  238  19.197888  115  150.576579  37.923113
78  263  34.000000   50  151.598513  15.769625
79  295  19.833733  119  167.944460  39.423099
80  236  12.101263  107  139.840817  34.948615

[81 rows x 5 columns]